.userBackground {
  background-image: url(../../img/svg/userPerfilBack.svg);
  background-size: 60vh;
  background-repeat: no-repeat;
  background-position: right;
  margin: 0 20px;
}

p {
  margin-top: 5px;
}

.form {
  margin-right: 45vw;
}

.editar {
  display: flex;
  justify-content: flex-end;
}

img{
  margin: 0 15px;
  width: 35px;
  cursor: pointer;
}

.botoes {
  width: 350px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}